@use "../../vars" as *;


.nav-bar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
     position: relative;
    text-align: center;
    max-width: 600px;
    font-family: "Jost";
    animation: 2s ease normal rise ;
    

    @keyframes rise {
    0%{
        top:1000px;
    }
    100%{
        top: 0;
    }
    }

    &__title{
        margin: 0.5rem;
    }

    &__reset-button{

        width: 4rem;
        height: 2.4rem;
        background: none;
        font-family: "Jost";
        font-size: 1.2rem;
        border-radius: 10%;
        margin: 0.5rem;
    }
}