@use "../../vars" as *;


.nav-bar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;


    &__reset-button{

        width: 4rem;
        height: 2.4rem;
        background: none;
    }
}